<h3 style="text-align:center;margin-top: 5px;">Angular Owl Carousel</h3>
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../assets/New folder/logo.png" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../assets/New folder/logo.png" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../assets/New folder/logo.png" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../assets/New folder/logo.png" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../assets/New folder/logo.png" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../assets/New folder/logo.png" />
    </ng-template>  
  </owl-carousel-o>
  




<router-outlet></router-outlet> 
